.bs-auth-btn {
  border: 1px black solid;
  background-image: linear-gradient(#ccc,#eee);
  /*
  min-height: 36px;
  min-width: 128px;
  */
  height: 38px;
  width: 128px;
  margin-right:8px;
  margin-bottom:8px;
  text-align: left;
  padding: 1px;
  border-radius: 9px;
  display: inline-block; /* Needed for compatibility with some themes */
  line-height: 1em;
}

.bs-auth-btn-text {
  padding-left:6px; 
  padding-right:6px;
  font-family: sans-serif;
  /* 
  height: 16px;
  padding-top:6px;
  */
  /*
  vertical-align:middle;
  display:table-cell;  
  */
  line-height: 32px;
  height: 32px;
  max-width: 70px;
  overflow: hidden;
  display: inline-block;
  
}

.bs-auth-btn:hover {
  background-image: linear-gradient(#aaa,#ccc);
}

.bs-auth-btn-preview{
  width:32px;
  height:32px;
  background-color:white;
  display:inline-block;
}

.bs-auth-btn-logo {
  width:32px;
  height:32px;
  /* float: left; */
  display: inline-block;
}
/*****************************************************************************/



.bs-auth-btn-logo-blaat_vatsimsso-{
  background-image:url('vatsim.png');
}
