#bsauth_local, #blaat_auth_buttons {
  display : block;
  float   : left;
  width   : 350px;
  margin  : 5px;
}

#bsauth_local  #loginform .login-username label,
#bsauth_local  #loginform .login-password label {
  width : 125px;
  display: inline-block;
}

.blaat_plugins_table td {
  min-width: 150px;
}

.blaat_plugins_table th {
  text-align: left;
}


.blaat_addpage_logooption {
  padding-right:32px;
}


.bs-auth-settings-table input[type=text] {
    width: 400px;
}
